@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal";
  overflow-x: hidden;
}

.color{
  background-color: #DDD;
  height: 1000px;
}

.col-shebak-3{
  width: 22%;
}

.col-shebak-9{
  width: 78%;
}