.videoContainer{
    width: 400px;
    height: 275.5px;
}
.StreamvideoContainer{
    width: 600px;
    height: 455.5px;
}
.btn_open_cam{
    position: absolute;
    left: 42%;
    top: 43%;
}
.record {
    position: absolute;
    left: 32%;
    top: 39%;
}
.record p{
    color: white
}
.record p span{
    color: rgba(227,73,28,0.8);
}
.btn_record{
    border: 5px solid #939393;
    background-color: rgba(227,73,28,0.8);
    width: 64px;
    height: 64px;
}

.btn_record:hover{
    background-color: rgb(255 80 29 / 80%);
}

.videoTimer{
    top: 9%;
    right: 5%;
}

.videoTimer .circle{
    background-color: rgba(227,73,28,0.8);
    width: 15px;
    height: 15px;
    top: 10px;
    right: 18px;
}

@media (max-width: 767.98px) {
    .videoContainer{
        width: 350px;
        height: 275.5px;
    }
    .videoContainer video{
        width: 350px;
        height: 275.5px;
    }
}