.cont {
  background-color: #21688a;
  padding: 25px 45px;
  font-family: "Tajawal";
}

.signUp {
  background-color: white;
}

.cont_right_section {
  border-left: 2px solid #f2f1ee;
}

.right_section {
  /* border-radius: 12% 100% 21% 14% / 28% 0% 0% 55%; */
  background-color: white;
  margin-left: 50px;
}

.right_section h3 {
  margin-bottom: 5px;
}

.right_section p {
  color: #a6a5aa;
}

.btn {
  background-image: linear-gradient(45deg, #72a6bd, #21688a) !important;
  background-color: #21688a;
  letter-spacing: 1.5px;
  color: #f3f3f3;
  margin-right: 119px;
  height: 40px;
}

@media (max-width: 767.98px) {
  .right_section {
    margin-left: 0px;
  }
}

@media (max-width: 991.98px) {
  .d_none {
    display: none;
  }
  .cont_right_section {
    border-left: 0;
  }
}