.cont {
  /* background-color: #21688a; */
  /* background-color: white; */
  padding: 25px 45px;
  font-family: "Tajawal";
}

.signUp {
  /* background-color: white; */
  background-image: url("/images/bg.jpeg");
  background-color: #152d39 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #6f6f6f;
}

.cont_right_section {
  border-left: 2px solid #6f6f6f;
}

.right_section {
  /* border-radius: 12% 100% 21% 14% / 28% 0% 0% 55%; */
  /* background-color: white; */
  margin-left: 50px;
}

.right_section h3 {
  margin-bottom: 5px;
  color: white !important;
}

.right_section p {
  color: #C1C1C1;
}

.btn {
  background-image: linear-gradient(45deg, #72a6bd, #2F6782) !important;
  background-color: #2F6782;
  letter-spacing: 1.5px;
  color: #f3f3f3;
  margin-right: 119px;
  height: 40px;
}

@media (max-width: 767.98px) {
  .right_section {
    margin-left: 0px;
  }
}

@media (max-width: 991.98px) {
  .d_none {
    display: none;
  }
  .cont_right_section {
    border-left: 0;
  }
}