@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

#example_filter input {
  border-radius: 5px;
  padding: 8px 5px;
  margin-bottom: 40px;
  position: absolute;
  top: -60px;
  left: 60%;
  width: 40%;
  margin-top: -5px;
}

.display {
  border: 1px solid rgb(192, 183, 183);
  border-radius: 15px;
  padding: 5px;
}

.MainDiv {
  font-family: "Tajawal";
}

.show{
  width: 10px;
  background-color: #62afcc2e;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.show a{
  margin-top: 3px;
}

.all{
  display: flex;
}
.video{
  width: 643px;
  box-shadow: 2px 2px 6px #000000;
  margin-top: 20px;
  /* margin-left: 150px; */
}
/* 
.title{
  color: #66B4D2;
} */

.data{
  color: #C1C1C1;
  line-height: 2;
}

.warning p{
  font-size: 16px;
}

.warning hr{
  border: 1px solid #66b4d217;
  opacity: 1;
}

.user_video{
  width: 543px;
}